.App{
  text-align: center;
  font-size: large
}


body{
  background-image: url("https://wallpapercave.com/wp/wp3440146.jpg");
  background-color: #cccccc;
  color: white;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.signup{
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.signup > form {
  display: grid;
  flex-direction: column;

}

.signup > form > input{
  margin-bottom: 6px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}
.signup > form > button{
  margin-bottom: 6px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}
.signup > form >button:hover {
  opacity: 100%;
  background-color: #2c5588;
  color: #ffffff;
  transform: scale(1.1);
}
.signin{
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.signin > form {
  display: grid;
  flex-direction: column;
}
.signin > form > input{
  margin-bottom: 6px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}
.signin > form > button{
  margin-bottom: 6px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}
.signin > form >button:hover {
  opacity: 100%;
  background-color: #2c5588;
  color: #ffffff;
  transform: scale(1.1);
}
.post {
  opacity: 72%;
  color: #ffffff;
  width: auto;
  height: auto;
  padding: 0.3cm;
  background-color: #15172b;
  transition-property: color, transform;
  transition: background-color 2s;
  
}

.post:hover {
  opacity: 100%;
  background-color: #3c5f8b;
  color: #ffffff;
  transform: scale(1.1);
}

.Username {
  color: orange;
}

.CerrarSesion{
  margin-bottom: 6px;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}

.CerrarSesion:hover{
  opacity: 100%;
  background-color: #2c5588;
  color: #ffffff;
  transform: scale(1.1);
}

.ContenidoPost{
  margin-bottom: 6px;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}

.Sender > input{
  margin-bottom: 6px;
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}
.Sender > button{
  margin-bottom: 6px;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}

.Sender > p > button{
  margin-bottom: 6px;
  width: auto;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(16, 110, 252);
  border-radius: 4px;
}
.Sender >button:hover {
  opacity: 100%;
  background-color: #2c5588;
  color: #ffffff;
  transform: scale(1.1);
}
